[Desktop Entry]
Version=1.0
Type=Application
Name=ezanvakti-qt-gui
Comment=Ezanvakti Qt Arayüzü
Exec=/usr/bin/ezanvakti-qt-gui
Icon=ezanvakti
Terminal=false
Categories=Application;Utility;
Actions=EzvGv1;EzvGv2;EzvGv3;EzvGv4;EzvGv5;EzvGv6;

[Desktop Action EzvGv1]
Name=Günlük Vakitler
Exec=/usr/bin/ezanvakti --eylem vakitler
Icon=ezanvakti

[Desktop Action EzvGv2]
Name=Kerahat Vakitleri
Exec=/usr/bin/ezanvakti --eylem kerahat
Icon=ezanvakti

[Desktop Action EzvGv3]
Name=Ayarlar
Exec=/usr/bin/ezanvakti --eylem yapilandirma
Icon=ezanvakti

[Desktop Action EzvGv4]
Name=Dini Günler ve Geceler
Exec=/usr/bin/ezanvakti --eylem gunler
Icon=ezanvakti

[Desktop Action EzvGv5]
Name=Haftalık Vakitler
Exec=/usr/bin/ezanvakti --eylem v7
Icon=ezanvakti

[Desktop Action EzvGv6]
Name=Aylık Vakitler
Exec=/usr/bin/ezanvakti --eylem v30
Icon=ezanvakti
